
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  padding: 250px 20px 20px;
}

.form-wrapper {
  background-color: rgba(42, 39, 43, 0.9); // Couleur de fond légèrement transparente
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px; // Limite la largeur du formulaire
  width: 100%; // S'assure qu'il prend la largeur maximale disponible jusqu'à 300px
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-size: 14px;
      color: #c3b3d8; // Utilise la couleur du texte du body
    }

    input {
      padding: 8px;
      border: 1px solid #c3b3d8;
      border-radius: 4px;
      font-size: 14px;
      background-color: #2a272b; // Arrière-plan des champs de saisie
      color: #c3b3d8; // Couleur du texte des champs de saisie
    }

    &.form-control {
      border-color: #cebbfa;
    }
  }

  div:last-child {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #cebbfa;
      color: #2a272b;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #b8a3f2;
      }

      &:last-child {
        background-color: #6c757d;
        color: white;

        &:hover {
          background-color: #5a6268;
        }
      }
    }
  }
}
